<div class="calculator-grid">
  <div class="output">
    <div class="previous-operand">{{ operandoAnterior  }}</div>
    <div class="current-operand"> {{ operandoActual  }}</div>
  </div>
  <button (click)="operacion('limpiar')" class="span-two">AC</button>
  <button (click)="operacion('eliminar')">DEL</button>
  <button (click)="operacion('dividir')" data-operation>÷</button>
  <button (click)="agregarNumero('1')">1</button>
  <button (click)="agregarNumero('2')">2</button>
  <button (click)="agregarNumero('3')">3</button>
  <button (click)="operacion('multiplicar')">*</button>
  <button (click)="agregarNumero('4')">4</button>
  <button (click)="agregarNumero('5')">5</button>
  <button (click)="agregarNumero('6')">6</button>
  <button (click)="operacion('sumar')">+</button>
  <button (click)="agregarNumero('7')">7</button>
  <button (click)="agregarNumero('8')">8</button>
  <button (click)="agregarNumero('9')">9</button>
  <button (click)="operacion('restar')">-</button>
  <button (click)="agregarNumero('.')">.</button>
  <button (click)="agregarNumero('0')">0</button>
  <button (click)="operacion('resultado')" class="span-two">=</button>
</div>